<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!--配置前段控制器-->
    <servlet>
        <servlet-name>dispatcherServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

        <!--
        当tomcat启动的时候就会加载这个web.xml文件
        那么就加载web.xml文件的时候 一起加载spring开头的.xml文件
        -->
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring-*.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcherServlet</servlet-name>
        <!--如果你的DispatcherServlet拦截"/"，为了实现REST风格，拦截了所有的请求，
        那么同时对*.js,*.jpg等静态文件的访问也就被拦截了
        所以就需要将静态资源的访问交还给tomcat的原生servlet-->
        <url-pattern>/</url-pattern>
    </servlet-mapping>


</web-app>